body{
    background: linear-gradient(to left, #252525, #222222, #1a1a1a);
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}


h1{
    color: white;
    text-align: center;
}
@media screen and (max-width: 675px) {
    h1{
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.main{
    position: relative;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
    border: 5px solid black;
    margin: 0;
    width: 80%;
    max-width: 900px;
    max-height: 500px;
    height: 85vh;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}

.choice1{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 49%;
    background-color:#4682B4;
    transition: background-color 0.3s ease;
}

.choice1 p{
    text-align: center;
    width: 80%;
    word-wrap: break-word;
}
.choice2 p{
    text-align: center;
    width: 80%;
    word-wrap: break-word;
}
.choice2{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 49%;
    background-color: #FF6347;
    transition: background-color 0.3s ease;
}
.choice1:hover {
    background-color: #77aabb;
}
.choice2:hover {
    background-color: #f07f6b;
}

.jkline{
    width: 100%;
    height: 2%;
    background-color:#000000;
}

.jkline p{
    pointer-events: none;
    font-size: 45px;
    color: white;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.RarityShower{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    position: fixed;
    top: 10px; 
    right: 10px; 
    background-color: lightgrey;
    padding: 10px; 
    border: 4px solid #000000;
    z-index: 1000;
}

.ResetEnable{
    position: fixed;
    top: 14px; 
    right: 65px; 
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: rgb(33, 201, 0);
    transition: all 0.4s ease;
}

.ResetEnable:hover{
    background-color: green;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
